* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;


}

.btn-calculate{
    width: auto;
    border-radius: 2px;
    padding: 10px;
    align-items: center;
    background-color: #007BFF;
    color: white;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background-color: #55a5fb;
    }

}
